<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My vault</title>
    <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet"><link rel="stylesheet" href="/css/myvaultcss.css">
</head>
<style>
    body{
      background-image: url("/img/myvault.jpg");
      background-size: cover;
      background-position: center;
    }
    .login {
color: white;
background:  #136a8a;
background: -webkit-linear-gradient(to right, #267871, #136a8a);
background: 
  linear-gradient(to right, #040c3d, #0b5324);
margin: auto;
box-shadow: 
  0px 2px 10px rgba(0,0,0,0.2), 
  0px 10px 20px rgba(0,0,0,0.3), 
  0px 30px 60px 1px rgba(0,0,0,0.5);
border-radius: 8px;
padding: 90px;
}
  </style>
<body>
    <section class='login' id='login'>
        <div class='head'>
        <h1 class='company'>My Cloud</h1>
        </div>
        <p class='msg'><b>My Vault</b></p>
        <div class='form'>
            <a href="images"><button type="button"><b><i>IMAGES</i></b></button></a><br><br>
            <a href="videos"><button type="button"><b><i>VIDEOS</i></button></a><br><br>
            <a href="audios"><button type="button"><b><i>AUDIOS</i></button></a><br><br>
            <a href="documents"><button type="button"><b><i>DOCUMENTS</i></button></a><br><br>
            <a href="otherfiles"><button type="button"><b><i>OTHER FILES</i></button></a><br><br>
        </div>
      </section>
        
</body> 
</html>