<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Videos</title>
    <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet"><link rel="stylesheet" href="/css/ivadf_allcss.css">
</head>
<style>
    body{
      background-image: url("/img/video.png");
      background-size: cover;
      background-position: center;
    }
    .login {
color: white;
background:  #136a8a;
background: -webkit-linear-gradient(to right, #267871, #136a8a);
background: 
  linear-gradient(to right, #3d0441, #0a0974);
margin: auto;
box-shadow: 
  0px 2px 10px rgba(0,0,0,0.2), 
  0px 10px 20px rgba(0,0,0,0.3), 
  0px 30px 60px 1px rgba(0,0,0,0.5);
border-radius: 8px;
padding: 50px;
}
  </style>
<body>
    <section class='login' id='login'>
        <div class='head'>
        <h1 class='company'>My Cloud</h1>
        </div>
        <p class='msg'><b>My Videos Page</b></p><br>
        <h3>Enter Vault number To Display Videos</h3>
        <div class='form'>
            <form action="/videos" method="post">
                <input type="password" name="vaultnumber" placeholder="enter vaultnumber"><br><br>
                <button type="submit">Display</button>
            </form><br><br>
        </div>
        <h3>Select Video and Enter vault number To Upload</h3>
        <div class="form">
            <form action="/videos" method="post" enctype="multipart/form-data">
                <input type="file" name="video" placeholder="enter file">
                <br><br><input type="password" name="vaultnumber" placeholder="enter vaultnumber"><br><br>
                <button type="submit" id="formbutton">Uplaod</button>
            </form>
        </div>
      </section>
</body>
</html>